@media (min-width: 320px) and (max-width: 575.98px) {
  .prayer-time-top h4 {
    font-size: 22px;
  }
  #demo {
    font-size: 24px;
  }
  .prayer p {
    font-size: 15px;
  }
  .prayer span {
    font-size: 15px;
  }
  .sunset span {
    font-size: 16px;
    text-transform: capitalize;
  }
  .s-prayer span {
    font-size: 15px;
    letter-spacing: 0px;
  }
  .phone-prayer p {
    font-size: 15px;
    letter-spacing: 0px;
  }
}
